/* variáveis Global */
:root{
  --cor-primaria: #4b2e2e;
  --cor-secundaria: #6f4e37;
  --cor-destaque: #b7791f;
  --cor-texto: #2c1b12;
  --cor-texto-suave: #555;
  --radius: 14px;
  --sombra-suave: 0 10px 30px rgba(0,0,0,0.08);
  --bg-main: #1E130D;
  --bg-soft: #2C1B12;
  --bg-card: #2A1A13;
  --accent: #C19A6B;
  --accent-soft: #D7B899;
  --text-light: #F5E6D3;
  --text-soft: #D7C2AD;
  --radius: 18px;
  --shadow-deep: 0 20px 60px rgba(0,0,0,0.45);
  --transition: 0.4s ease;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family:'Poppins', sans-serif;
  background: linear-gradient(160deg,var(--bg-main),#140c08);
  color:var(--text-light);
  overflow-x:hidden;
}

/* header */
header {
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
  padding:25px 20px;
  text-align:center;
  position:sticky;
  top:0;
  z-index:1000;
}

header h1{
  font-family:'Playfair Display', serif;
  font-size:30px;
  letter-spacing:1px;
}

/* menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

nav a {
  color: var(--text-soft);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: var(--transition);
}

nav a::after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0%;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: var(--transition);
}

nav a:hover {
  color: white;
}

nav a ::after{
  width: 100%;
}

/* MAIN/conteúdo */
main {
  max-width: 1100px;
  margin: 0 auto; 
  padding: 40px 20px;
}

/* section */
section {
  background-color: white;
  padding: 30px;
  border-radius: var(--radius);
  box-shadow: var(--sombra-suave);
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

h3{
  font-family: 'Playfair Display', serif;

}

p {
  line-height: 1.6;
  margin-bottom: 12px;
  color: var(--cor-texto);
}

/* listas */
ul, ol {
  margin-left: 20px;
  margin-top: 10px;
}

/* footer */
footer{
  background:#141208;
  padding:40px 20px;
  text-align:center;
  color:var(--text-soft);
  margin-top:80px;
}

.section{
  padding: 100px 8%;
}

/* container */
.container{
  width: 85%;
  margin: 50px auto;
  max-width: 1100px;
}

/* títulos */
.titulo-secao{
  text-align:center;
  font-family:'Playfair Display', serif;
  font-size:34px;
  margin-bottom:60px;
  position:relative;
}

.titulo-secao::after{
  content:"";
  width:80px;
  height:3px;
  background:var(--accent);
  display:block;
  margin:15px auto 0;
}

.titulo-secao.vermelho{
  font-family:'Playfair Display', serif;
  color: #8b0000;
}

.titulo-secao.vermelho::after{
  background: #8b0000;
}

/* cards */
.card{
  background:var(--bg-card);
  padding:35px;
  border-radius:var(--radius);
  box-shadow:var(--shadow-deep);
  transition:var(--transition);
  position:relative;
  overflow:hidden;
}

.card:hover{
  transform: translateY(-8px);
}

/* card topo */
.card-topo{
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.card::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(255,255,255,0.04));
  opacity:0;
  transition:var(--transition);
}

.card:hover::before{
  opacity:1;
}

/* imagem */
.card img{
  width: 170px;
  height: 130px;
  object-fit: cover;
  border-radius: 12px;
}

/* texto */
.card h3{
  font-family:'Playfair Display', serif;
  margin-bottom:15px;
  color:var(--accent-soft);
}

.card p{
  color:var(--text-soft);
  line-height:1.6;
}

/* detahes */
.detalhes{
  max-height: 0;
  overflow: hidden;
  background: #efe7df;
  border-top: 1px solid #e0d6cc;
  padding: 0 25px;
  transition: all 0.4s ease;
  font-size: 14px;
  line-height: 1.7;
  color: var(--cor-texto);
}

.card.ativo .detalhes{
  max-height: 400px;
  padding: 20px 25px;
}

.detalhes p{
  margin-bottom: 8px;
  color: #4b2e2e;
}

/* riscos do café */
.intro-risco{
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px auto;
  font-size: 16px;
  color: var(--cor-secundaria);
}

.grid-riscos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.risco-card{
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.risco-card ::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: linear-gradient(to bottom, #6f4e37, #8b0000);
  border-radius: 20px 0 0 20px;
}

.risco-card :hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

/*topo do card*/
.risco-topo{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icone{
  width: 45px;
  height: 45px;
  background: linear-gradient(135deg, #6f4e37, #4b2e2e);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 15px;
  font-size: 20px;  
}

.risco-card h3{
  margin: 0;
  margin-bottom: 18px;
  color: var(--cor-secundaria);
}

.risco-card p{
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.alerta{
  background: linear-gradient(135deg, #efe7df, #e5d9ce);
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.alerta h3{
  margin-bottom: 10px;
  color: var(--cor-secundaria);
}

/* estatístcas */
.grid-estatisticas {
 display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.estat-card{
   background:var(--bg-card);
  padding:35px;
  border-radius:var(--radius);
  box-shadow:var(--shadow-deep);
  transition:var(--transition);
  position:relative;
  overflow:hidden;
}

.estat-card :hover{
  transform: translateY(-8px);
}

.estat-card ::before{
  background:var(--bg-card);
  padding:35px;
  border-radius:var(--radius);
  box-shadow:var(--shadow-deep);
  transition:var(--transition);
  position:relative;
  overflow:hidden;
}

.estat-card :hover ::before{
  opacity: 1;
}

.estat-card h3{
  font-family:'Playfair Display', serif;
  margin-bottom:15px;
  color:var(--accent-soft);
}

.estat-card p{
  color:var(--text-soft);
  line-height:1.6;
}

.contador{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cor-secundaria);
  margin-top: 10px;
}

/*produtores*/
.tabela-produtores{
  background: var(--bg-main);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.tabela-produtores h3{
  margin-bottom: 20px;
  color: var(--accent-soft);
  font-family:'Playfair Display', serif;

}

.tabela-produtores li{
  padding: 10px 0;
  border-bottom: 1px solid #d8cfc6;
  font-family:'Playfair Display', serif;
}

/* páginas internas */
.pagina {
  max-width: 900px;
  margin: 40px auto;
}

.bloco{
  margin-bottom: 40px;
  border-left: 6px solid var(--cor-destaque);
}

.conteudo{
  display: flex;
  align-items: center;
  gap: 30px;
}

.texto{
  flex: 1;
}

.imagem{
  flex: 1;
}

.imagem img{
  width: 100%;
  border-radius: var(--radius);
}

/* card info */
.card-info{
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-left: 5px solid var(--cor-destaque);
  border-radius: var(--radius);
  box-shadow: var(--sombra-suave);
  transition: 0.3s ease;
}

.card-info h3{
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--cor-texto);
}

.card-info:hover{
  transform: scale(1.02);
}

/*Curiosidades*/
.curiosidades{
  padding: 60px 40px;
  background: #f8f5f2;
}

.curiosidades h2{
  text-align: center;
  font-size: 32px;
  color: var(--cor-secundaria);
  margin-bottom: 50px;
}

.grid-curiosidades{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.curiosidade-card{
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  position: relative;
  transition: 0.3s ease;
  border-left: 6px solid var(--cor-destaque);
}

.curiosidade-card :hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.numero{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(111, 78, 55, 0.08);
}

.curiosidade-card h3{
  margin-bottom: 15px;
  color: var(--cor-secundaria);
}

.curiosidade-card p{
  color: var(--cor-texto-suave);
  line-height: 1.6;
}

.voce-sabia{
  margin-top: 60px;
  background: linear-gradient(135deg, #6f4e37, #4b2e2e);
  color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.voce-sabia h3{
  margin-bottom: 15px;
  font-size: 22px;
}

/*curiosidade RANDOM*/
.curiosidade-random{
  margin-top: 60px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.curiosidade-random h3{
  margin-bottom: 20px;
  color: var(--cor-primaria);
}

#curiosidadeTexto{
 font-size: 16px;
  margin-bottom: 25px;
  color: #555;
  transition: opacity 0.3s ease;
}

.curiosidade-random button {
  background: linear-gradient(135deg, #6f4e37, #4b2e2e);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.curiosidade-random button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* hero*/

.hero {
  position: relative;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}

.slide{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  opacity:0;
  pointer-events:none;
  transition:opacity .6s ease;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
}

.slide h1 {
  font-family:'Playfair Display', serif;
  font-size:48px;
  margin-bottom:15px;
}

.slide p {
  font-size:18px;
  color:var(--text-soft);
  max-width:600px;
}

/* Vídeo */
.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}

/* Overlay escuro elegante */
.overlay {
  position:absolute;
  inset:0;
  background:linear-gradient(to top,rgba(0,0,0,0.75),rgba(0,0,0,0.55));
  z-index:1;
}

.btn-hero {
  margin-top:25px;
  background:var(--accent);
  color:#1E130D;
  padding:14px 30px;
  border-radius:50px;
  font-weight:600;
  transition:var(--transition);
  box-shadow:0 10px 30px rgba(193,154,107,0.3);
}

.btn-hero:hover {
  transform:translateY(-4px);
  box-shadow:0 15px 40px rgba(193,154,107,0.5);
}

.indicadores {
  position: absolute;
  bottom: 40px;
  z-index: 2;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background: rgba(255,255,255,0.4);
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: white;
}


.experiencia{
  background:linear-gradient(140deg,#2C1B12,#1E130D);
  padding:120px 8%;
  text-align:center;
}

.experiencia h2{
  font-family:'Playfair Display', serif;
  font-size:36px;
  margin-bottom:20px;
}

.experiencia p{
  max-width:700px;
  margin:0 auto 60px auto;
  color:var(--text-soft);
}

.experiencia-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
}

.experiencia-item{
  background:var(--bg-card);
  padding:40px;
  border-radius:var(--radius);
  transition:var(--transition);
  box-shadow:var(--shadow-deep);
}

.experiencia-item:hover{
  transform:translateY(-10px) scale(1.02);
}

.experiencia-item span{
  font-size:40px;
  display:block;
  margin-bottom:15px;
}

/* responsividade */
@media (max-width: 768px) {

    nav ul{
        flex-direction: column;
    }

    .card-topo {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: 200px;
    }

    .conteudo{
        flex-direction: column;
    }
    .hero{
      height: 60vh;
    }

    .slide h1{
      font-size: 28px;
    }

    .slide p{
      font-size: 15;
    }

    .section{
      padding: 70px 6%;
    }
}


